<div>
  <mat-card-title class="title">Owner List</mat-card-title>
    <table mat-table [dataSource]="owners" class="mat-elevation-z8">
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef class="list-item"> DNI </th>
        <td mat-cell *matCellDef="let owner" class="list-item"> {{owner.dni}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="list-item"> Name </th>
        <td mat-cell *matCellDef="let owner" class="list-item"> {{owner.name}} </td>
      </ng-container>

      <ng-container matColumnDef="profession">
        <th mat-header-cell *matHeaderCellDef class="list-item"> Profession </th>
        <td mat-cell *matCellDef="let owner" class="list-item"> {{owner.profession}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="list-item"> Actions </th>
        <td mat-cell *matCellDef="let owner" class="actions-buttons">
          <button mat-stroked-button color="primary" [routerLink]="['/owner-edit', owner.id]">Edit</button>
          <mat-checkbox
            [checked]="isOwnerChecked(owner)"
            (change)="checkOwner(owner, $event.checked)"
          > Remove </mat-checkbox>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    </table>
  <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
  <button *ngIf="checkedOwners.length" mat-fab color="warn" (click)="deleteCheckedOwners()">Remove</button>
</div>